html body{
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}

header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:5%;
    background:#203020;
}

main{
    color:black;
    width:100%;
    text-align:center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit- transform: translateY(-50%) translateX(-50%);
    font-family: 'Times New Roman','ヒラギノ明朝 ProN','Hiragino Mincho ProN','Yu Mincho Light','YuMincho','Yu Mincho','游明朝体','ＭＳ Ｐ明朝','MS PMincho',serif;
    font-size:20pt;
}


footer{
    position:fixed;
    bottom:0;
    height:5%;
    width:100%;
    background:#203020;
}

